*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --navheading: 'Roboto Mono', monospace;
    --navlist: 'Roboto Condensed', sans-serif;
}
.navheading{
    font-family: var(--navheading);
    font-size: 23px;
}
.nav-list{
    font-family: var(--navlist);
    font-size: 18px;
}
nav ul li{
    margin: 0px 15px;
}

